* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(5, 5, 36);
}

header {
  height: 10vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 30%;
  display: flex;
}
.left p {
  padding-left: 1rem;
  font-weight: 200;
  font-size: 0.9rem;
}

.center {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right button {
  border: none;
  background: none;
  color: white;
  margin-right: 1rem;
  transition: all 0.3s ease;
  font-weight: 200;
  font-size: 0.9rem;
}

#booking {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

header button:hover {
  cursor: pointer;
  opacity: 0.8;
  margin-right: 2rem;
}

svg {
  width: 35px;
  height: 35px;
}

.left p:hover {
  cursor: pointer;
  opacity: 0.8;
}

main {
  height: 87vh;
  width: 95%;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1534152256612-f2528e22ccaa?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1171");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  position: relative;
}

#hero {
  color: white;
  font-size: 12vh;
  position: absolute;
  bottom: 5rem;
  left: 3rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
#hero span {
  font-family: "Parisienne", cursive;
  font-weight: 500;
  font-style: normal;
}

#box {
  height: 50vh;
  width: 25%;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: white;
}

img {
  width: 100%;
  height: 65%;
  border-radius: 1rem;
}
#box h2 {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}
#box p {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  font-weight: 200;
  color: rgb(255, 255, 255, 0.9);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
#end {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#end-left {
  font-weight: 200;
  font-size: 0.9rem;
}

#end-right {
  /* background-color: white; */
  border: rgba(255, 255, 255, 0.3) 1px solid;
  padding: 0rem 0.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#end-right button {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.2rem 0.4rem;
    font-size:1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-left {
  border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

